*
    font-family: 'Museo', sans-serif

.container
    width: 945px
    margin: 0 auto

@import 'base/_variables'
@import 'base/_mixins'
@import 'blocks/_promo'
@import 'blocks/_header'
@import 'blocks/_button'
@import 'blocks/_benefits'
@import 'blocks/_consultation'
@import 'blocks/_form'
@import 'blocks/_watch'
@import 'base/_media'
